div.container{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(51, 156, 188);
  color: aliceblue;
  text-align: center;
  padding: 10px 10px 10px 10px;

}
h3{
  background-color: rgb(51, 156, 188);
}
